* {
    font-family: 'Georgia', Times New Roman, Times, serif;
}

.col40 {
    width: 40%;
}

.col30 {
    width: 30%;
}

.row1 {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: .75rem;
}

body {
    background-color: slategrey;
}

.mainText {
    font-family: Cambria, Cochin, 'Georgia', Times, Times New Roman, serif;
    background-color: gainsboro;
    border-radius: .5rem;
    padding: .75rem
}

h2, h3, h4 { 
    font-family: 'Georgia', Times New Roman, Times, serif;
}





h1 {
    font-family: 'Georgia', Times New Roman, Times, serif;
    text-align: center;
    background-color: gainsboro;
    padding-top: 1em;
    padding-bottom: .5em;
    width: 100%;
}

.soFar {
    position: sticky;
    top: 1rem;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0.75rem;
    display: flex;
    justify-content: space-around;
}

.story { 
    width: 75%;
    text-align: justify;
}

.trail{
    width: 20%;
}

.restart {
    color: crimson;
}

#actionlist li,
.restart {
    transition: all ease-in 200ms;
}

#actionlist li:hover,
.restart:hover{
    color: #850505;
}
