* {
    font-family: 'Georgia', Times New Roman, Times, serif;
}

.col40 {
    width: 40%;
}

.col30 {
    width: 30%;
}

.row1 {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: .75rem;
}

body {
    background-color: #001dff
}

.text1 {
    font-family: Cambria, Cochin, 'Georgia', Times, Times New Roman, serif;
    background-color: white;
    border-radius: .5rem;
    padding: .75rem
}

h1 {
    font-family: 'Georgia', Times New Roman, Times, serif;
    text-align: center;
    background-color: whitesmoke;
    padding-top: 1em;
    padding-bottom: .5em;
    width: 100%;
}

.container {
    width: 0%;
    padding: .5em;
}

button{
    font-size: 1em;
    background-color: #ffe200;
    color: black;
    box-shadow: 6px black;
    padding: .5em;
    margin: .25em;
    border: none;
    border-radius: .4em
}

button:hover{
    transition: 1s;
    cursor: pointer;
    background-color: #ffe200;
}